In [3]:
import pandas as pd
import numpy as np

In [4]:
#Read in the csv file. Bacause the file is formatted badly, I'll specifiy the column names instead of
#letting pandas try to infer them
column_names = ['col_'+ str(x) for x in range(21)]

Province=pd.read_csv('raw_data/Province.csv', names = column_names, skiprows = 2)

In [5]:
#Let's have a look
Province.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20
0,,,1861.0,1871.0,1881.0,1891.0,1901.0,1911.0,1926.0,1936.0,...,1961.0,1971.0,1981.0,1986.0,1991.0,1996.0,2002.0,2006.0,2011.0,2016.0
1,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,Population of Irish Speakers (Number),1077087.0,804547.0,924781.0,664387.0,619710.0,553717.0,540802.0,666601.0,...,716420.0,789429.0,1018413.0,1042701.0,1095830.0,1430205.0,1570894.0,1656790.0,1774437.0,1761420.0
3,,Population of Non-Irish Speakers (Number),3325024.0,3248640.0,2945239.0,2804307.0,2602113.0,2585971.0,2261650.0,2140324.0,...,1919398.0,1998019.0,2208054.0,2310931.0,2271176.0,2049443.0,2180101.0,2400856.0,2596194.0,2807841.0
4,,Percentage of Irish Speakers (%),24.5,19.8,23.9,19.2,19.2,17.6,19.3,23.7,...,27.2,28.3,31.6,31.1,32.5,41.1,41.9,40.8,40.6,38.5

In [109]:
#I'll create features using the entries in col_0 and col_1. Let's have a look at what's there
Province['col_1'].unique()

array([' ', nan, 'Population of Irish Speakers (Number)',
       'Population of Non-Irish Speakers (Number)',
       'Percentage of Irish Speakers (%)'], dtype=object)

In [110]:
Province['col_0'].unique()

array([' ', 'State', 'Leinster', 'Munster', 'Connacht', 'Ulster (pt)'],
      dtype=object)

In [195]:
#Now we need to remove/fill empty and null values.
#I'll fill the two blank entries in the first row with 'Year'
#Then I'll replace all blank entries in the DataFrame with np.nan so we can use the fillna() method

# Fill the first row
Province.iloc[0, 1] = 'Year'
Province.iloc[0, 0] = 'Year'

#Replace all blanks with np.nan
Province.replace(r'^\s+$', np.nan, regex=True, inplace = True)

Province.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20
0,Year,Year,1861.0,1871.0,1881.0,1891.0,1901.0,1911.0,1926.0,1936.0,...,1961.0,1971.0,1981.0,1986.0,1991.0,1996.0,2002.0,2006.0,2011.0,2016.0
1,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Population of Irish Speakers (Number),1077087.0,804547.0,924781.0,664387.0,619710.0,553717.0,540802.0,666601.0,...,716420.0,789429.0,1018413.0,1042701.0,1095830.0,1430205.0,1570894.0,1656790.0,1774437.0,1761420.0
3,NaN,Population of Non-Irish Speakers (Number),3325024.0,3248640.0,2945239.0,2804307.0,2602113.0,2585971.0,2261650.0,2140324.0,...,1919398.0,1998019.0,2208054.0,2310931.0,2271176.0,2049443.0,2180101.0,2400856.0,2596194.0,2807841.0
4,NaN,Percentage of Irish Speakers (%),24.5,19.8,23.9,19.2,19.2,17.6,19.3,23.7,...,27.2,28.3,31.6,31.1,32.5,41.1,41.9,40.8,40.6,38.5

In [196]:
#Use fillna() to replace all NaN with the last valid entry
Province['col_0'].fillna(method = 'ffill', inplace = True)

Province.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20
0,Year,Year,1861.0,1871.0,1881.0,1891.0,1901.0,1911.0,1926.0,1936.0,...,1961.0,1971.0,1981.0,1986.0,1991.0,1996.0,2002.0,2006.0,2011.0,2016.0
1,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,Population of Irish Speakers (Number),1077087.0,804547.0,924781.0,664387.0,619710.0,553717.0,540802.0,666601.0,...,716420.0,789429.0,1018413.0,1042701.0,1095830.0,1430205.0,1570894.0,1656790.0,1774437.0,1761420.0
3,State,Population of Non-Irish Speakers (Number),3325024.0,3248640.0,2945239.0,2804307.0,2602113.0,2585971.0,2261650.0,2140324.0,...,1919398.0,1998019.0,2208054.0,2310931.0,2271176.0,2049443.0,2180101.0,2400856.0,2596194.0,2807841.0
4,State,Percentage of Irish Speakers (%),24.5,19.8,23.9,19.2,19.2,17.6,19.3,23.7,...,27.2,28.3,31.6,31.1,32.5,41.1,41.9,40.8,40.6,38.5

In [197]:
#Finally, we just need to drop those rows full of NaN
Province.drop(Province[pd.isnull(Province['col_1'])].index, inplace = True)
Province.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20
0,Year,Year,1861.0,1871.0,1881.0,1891.0,1901.0,1911.0,1926.0,1936.0,...,1961.0,1971.0,1981.0,1986.0,1991.0,1996.0,2002.0,2006.0,2011.0,2016.0
2,State,Population of Irish Speakers (Number),1077087.0,804547.0,924781.0,664387.0,619710.0,553717.0,540802.0,666601.0,...,716420.0,789429.0,1018413.0,1042701.0,1095830.0,1430205.0,1570894.0,1656790.0,1774437.0,1761420.0
3,State,Population of Non-Irish Speakers (Number),3325024.0,3248640.0,2945239.0,2804307.0,2602113.0,2585971.0,2261650.0,2140324.0,...,1919398.0,1998019.0,2208054.0,2310931.0,2271176.0,2049443.0,2180101.0,2400856.0,2596194.0,2807841.0
4,State,Percentage of Irish Speakers (%),24.5,19.8,23.9,19.2,19.2,17.6,19.3,23.7,...,27.2,28.3,31.6,31.1,32.5,41.1,41.9,40.8,40.6,38.5
6,Leinster,Population of Irish Speakers (Number),35704.0,16247.0,27452.0,13677.0,26436.0,40225.0,101102.0,183378.0,...,274644.0,341702.0,473225.0,480227.0,511639.0,689703.0,768404.0,823555.0,890834.0,897357.0

In [120]:
#Looks like we have a clean DataFrame now. Let confirm no NaNs are left
print('Number of Null Values: {}'.format(Province[pd.isnull(Province)].sum().sum()))

Number of Null Values: 0.0

In [198]:
#Now that we have a clean DataFrame, I'll use the pivot_table() method to convert the entries to the first
#2 columns into features
Province = pd.pivot_table(Province, columns = ['col_0', 'col_1'])
Province.head()

col_0                          Connacht                                        \
col_1  Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
col_10                             33.2                              154187.0
col_11                             37.6                              148708.0
col_12                             37.2                              137372.0
col_13                             38.8                              155134.0
col_14                             38.7                              158386.0

col_0                                             \
col_1  Population of Non-Irish Speakers (Number)
col_10                                  309638.0
col_11                                  246592.0
col_12                                  231960.0
col_13                                  244264.0
col_14                                  250474.0

col_0                          Leinster                                        \
col_1  Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
col_10                             15.1                              180755.0
col_11                             22.2                              274644.0
col_12                             24.5                              341702.0
col_13                             28.2                              473225.0
col_14                             27.4                              480227.0

col_0                                             \
col_1  Population of Non-Irish Speakers (Number)
col_10                                 1017491.0
col_11                                  964383.0
col_12                                 1055160.0
col_13                                 1202292.0
col_14                                 1274353.0

col_0                           Munster                                        \
col_1  Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
col_10                             22.0                              189395.0
col_11                             28.7                              228726.0
col_12                             30.6                              252805.0
col_13                             34.6                              323704.0
col_14                             34.8                              337043.0

col_0                                             \
col_1  Population of Non-Irish Speakers (Number)
col_10                                  672660.0
col_11                                  567613.0
col_12                                  573308.0
col_13                                  612526.0
col_14                                  630434.0

col_0                             State                                        \
col_1  Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
col_10                             21.2                              588725.0
col_11                             27.2                              716420.0
col_12                             28.3                              789429.0
col_13                             31.6                             1018413.0
col_14                             31.1                             1042701.0

col_0                                             \
col_1  Population of Non-Irish Speakers (Number)
col_10                                 2182932.0
col_11                                 1919398.0
col_12                                 1998019.0
col_13                                 2208054.0
col_14                                 2310931.0

col_0                       Ulster (pt)                                        \
col_1  Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
col_10                             26.0                               64388.0
col_11                             31.4                               64342.0
col_12                             29.5                               57550.0
col_13                             30.8                               66350.0
col_14                             30.1                               67045.0

col_0                                               Year
col_1  Population of Non-Irish Speakers (Number)    Year
col_10                                  183143.0  1946.0
col_11                                  140810.0  1961.0
col_12                                  137591.0  1971.0
col_13                                  148972.0  1981.0
col_14                                  155670.0  1986.0

In [199]:
#I'll set the 'Year' column as the index and sort in ascending order
Province['Year'] = Province['Year'].astype('int')
Province.set_index(('Year', 'Year'), inplace = True)
Province.index.name = 'Year'
Province.sort_index(inplace = True)
Province.head()

col_0                         Connacht                                        \
col_1 Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
Year
1861                              44.8                              409482.0
1871                              39.0                              330211.0
1881                              44.6                              366191.0
1891                              37.9                              274783.0
1901                              38.0                              245580.0

col_0                                            \
col_1 Population of Non-Irish Speakers (Number)
Year
1861                                   503653.0
1871                                   516002.0
1881                                   455466.0
1891                                   449991.0
1901                                   401352.0

col_0                         Leinster                                        \
col_1 Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
Year
1861                               2.4                               35704.0
1871                               1.2                               16247.0
1881                               2.1                               27452.0
1891                               1.2                               13677.0
1901                               2.3                               26436.0

col_0                                            \
col_1 Population of Non-Irish Speakers (Number)
Year
1861                                  1421931.0
1871                                  1323204.0
1881                                  1251537.0
1891                                  1174083.0
1901                                  1126393.0

col_0                          Munster                                        \
col_1 Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
Year
1861                              36.0                              545531.0
1871                              27.7                              386494.0
1881                              33.5                              445766.0
1891                              26.2                              307633.0
1901                              25.7                              276268.0

col_0                                            \
col_1 Population of Non-Irish Speakers (Number)
Year
1861                                   968027.0
1871                                  1006991.0
1881                                   885349.0
1891                                   864769.0
1901                                   799920.0

col_0                            State                                        \
col_1 Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
Year
1861                              24.5                             1077087.0
1871                              19.8                              804547.0
1881                              23.9                              924781.0
1891                              19.2                              664387.0
1901                              19.2                              619710.0

col_0                                            \
col_1 Population of Non-Irish Speakers (Number)
Year
1861                                  3325024.0
1871                                  3248640.0
1881                                  2945239.0
1891                                  2804307.0
1901                                  2602113.0

col_0                      Ulster (pt)                                        \
col_1 Percentage of Irish Speakers (%) Population of Irish Speakers (Number)
Year
1861                              16.7                               86370.0
1871                              15.1                               71595.0
1881                              19.5                               85372.0
1891                              17.8                               68294.0
1901                              20.7                               71426.0

col_0
col_1 Population of Non-Irish Speakers (Number)
Year
1861                                   431413.0
1871                                   402443.0
1881                                   352887.0
1891                                   315464.0
1901                                   274448.0

In [200]:
#Rename the column labels
Province.columns.names = ['Province', 'Statistic']
Province.head()

Province                          Connacht  \
Statistic Percentage of Irish Speakers (%)
Year
1861                                  44.8
1871                                  39.0
1881                                  44.6
1891                                  37.9
1901                                  38.0

Province                                         \
Statistic Population of Irish Speakers (Number)
Year
1861                                   409482.0
1871                                   330211.0
1881                                   366191.0
1891                                   274783.0
1901                                   245580.0

Province                                             \
Statistic Population of Non-Irish Speakers (Number)
Year
1861                                       503653.0
1871                                       516002.0
1881                                       455466.0
1891                                       449991.0
1901                                       401352.0

Province                          Leinster  \
Statistic Percentage of Irish Speakers (%)
Year
1861                                   2.4
1871                                   1.2
1881                                   2.1
1891                                   1.2
1901                                   2.3

Province                                         \
Statistic Population of Irish Speakers (Number)
Year
1861                                    35704.0
1871                                    16247.0
1881                                    27452.0
1891                                    13677.0
1901                                    26436.0

Province                                             \
Statistic Population of Non-Irish Speakers (Number)
Year
1861                                      1421931.0
1871                                      1323204.0
1881                                      1251537.0
1891                                      1174083.0
1901                                      1126393.0

Province                           Munster  \
Statistic Percentage of Irish Speakers (%)
Year
1861                                  36.0
1871                                  27.7
1881                                  33.5
1891                                  26.2
1901                                  25.7

Province                                         \
Statistic Population of Irish Speakers (Number)
Year
1861                                   545531.0
1871                                   386494.0
1881                                   445766.0
1891                                   307633.0
1901                                   276268.0

Province                                             \
Statistic Population of Non-Irish Speakers (Number)
Year
1861                                       968027.0
1871                                      1006991.0
1881                                       885349.0
1891                                       864769.0
1901                                       799920.0

Province                             State  \
Statistic Percentage of Irish Speakers (%)
Year
1861                                  24.5
1871                                  19.8
1881                                  23.9
1891                                  19.2
1901                                  19.2

Province                                         \
Statistic Population of Irish Speakers (Number)
Year
1861                                  1077087.0
1871                                   804547.0
1881                                   924781.0
1891                                   664387.0
1901                                   619710.0

Province                                             \
Statistic Population of Non-Irish Speakers (Number)
Year
1861                                      3325024.0
1871                                      3248640.0
1881                                      2945239.0
1891                                      2804307.0
1901                                      2602113.0

Province                       Ulster (pt)  \
Statistic Percentage of Irish Speakers (%)
Year
1861                                  16.7
1871                                  15.1
1881                                  19.5
1891                                  17.8
1901                                  20.7

Province                                         \
Statistic Population of Irish Speakers (Number)
Year
1861                                    86370.0
1871                                    71595.0
1881                                    85372.0
1891                                    68294.0
1901                                    71426.0

Province
Statistic Population of Non-Irish Speakers (Number)
Year
1861                                       431413.0
1871                                       402443.0
1881                                       352887.0
1891                                       315464.0
1901                                       274448.0

In [201]:
# I want to convert the outer level of the column names (Province) to a column. So I'll convert this to
#a MultiIndex using the stack() method, then convert the inner level of the new MultiIndex to a column
Province = Province.stack(level = 0)
Province.reset_index(level=-1, inplace = True)

#Out Final DataFrame
Province.head()

Statistic,Province,Percentage of Irish Speakers (%),Population of Irish Speakers (Number),Population of Non-Irish Speakers (Number)
Year,,,,
1861,Connacht,44.8,409482.0,503653.0
1861,Leinster,2.4,35704.0,1421931.0
1861,Munster,36.0,545531.0,968027.0
1861,State,24.5,1077087.0,3325024.0
1861,Ulster (pt),16.7,86370.0,431413.0

In [202]:
Province.rename(columns = {'Province': 'Province', 
                           'Percentage of Irish Speakers (%)':'Irish Speakers(%)', 
                           'Population of Irish Speakers (Number)':'Irish Speakers', 
                           'Population of Non-Irish Speakers (Number)':'Non-Irish Speakers'}, 
               inplace = True)
Province['Total Population'] = Province['Irish Speakers'] + Province['Non-Irish Speakers']
Province.head()

Statistic,Province,Irish Speakers(%),Irish Speakers,Non-Irish Speakers,Total Population
Year,,,,,
1861,Connacht,44.8,409482.0,503653.0,913135.0
1861,Leinster,2.4,35704.0,1421931.0,1457635.0
1861,Munster,36.0,545531.0,968027.0,1513558.0
1861,State,24.5,1077087.0,3325024.0,4402111.0
1861,Ulster (pt),16.7,86370.0,431413.0,517783.0

In [203]:
Province.to_csv('../clean_data/Province.csv')